.footer {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    border-top: 1px solid rgba(238, 238, 238, 0.1);;

}

 .footer__menu{

 }


 .footer__menu:not(:last-child){
margin-bottom: 1.75rem;     
 }


.menu-footer {}
.menu-footer__list{
    display: flex;
    column-gap: 3rem;
    row-gap: .9375rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

		
 .menu-footer__item

	
.menu-footer__link{
    line-height: 1.5rem;
    padding-left: 2.125rem;
}
	
.menu-footer__link:hover{
    text-decoration: underline;
}
	
 .menu-footer__link_home{
     background: url("../img/icons/home.svg") left no-repeat;
 }
.menu-footer__link_about{
     background: url("../img/icons/user.svg") left no-repeat;
}

.menu-footer__link_contacts{
     background: url("../img/icons/phone.svg") left no-repeat;
}

