@import url('reset.css');
@import url('common.css');
@import url('header.css');
@import url('footer.css');
body {
  font-family: 'Poppins', 'helvetica Neue', Helvetica, sans-serif;
  background-color: #222831;
  color: rgba(238, 238, 238, 0.75);
  font-size: 18px;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.page {
  flex: 1 1 auto;
  padding-top: 5.3125rem;
}
@media (max-width: 31.25rem) {
  .page {
    padding: 4.5625rem;
  }
}
[class*='__container'] {
  max-width: 1280px;
}
